{{#each workouts as |workout|}}
<section class="info" data-id="{{workout._id}}">
    <h4><u>Muscle Group</u>: {{workout.bodyPart}}</h4>
    <h4><u>Lift</u>: {{workout.lift}}</h4>
    <h4><u>Weight</u>: {{workout.weight}}</h4>
    <h4><u>Reps</u>: {{workout.reps}}</h4>
    <h4><u>Sets</u>: {{workout.sets}}</h4>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" data-offset="10,20" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Update Work
      </a>

      <div class="dropdown-menu">
        <form class="updateWorkout" action="" method="PATCH">
          <label for="bodyPart"></label>
          <select name="workout[bodyPart]" class="form-control">
            <option value="" disabled selected hidden>Muscle Group</option>
            <option value="Chest">Chest</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Legs">Legs</option>
            <option value="Shoulders">Shoulers</option>
          </select>
          <input style="text-transform: capitalize;" placeholder="Exercise" name="workout[lift]" type="text">
          <input  placeholder="Weight" name="workout[weight]" type="number">
          <input  placeholder="Reps" name="workout[reps]" type="number">
          <input  placeholder="Sets" name="workout[sets]" type="number">
          <button class="btn btn-primary" button"submit" class="updateWorkout" data-id="{{workout._id}}">Complete</button>
        </form>
      </div>

    </div>


<button class="btn btn-outline-danger delete-btn" data-id="{{workout._id}}">Delete Workout</button>
</section>
{{log 'where is this' workout._id}}
{{/each}}

<!-- <button class="btn btn-outline-success update-btn" data-id="{{workout._id}}" <a href="/workouts/id" data-toggle="modal" data-target=".modal"</a>Update Workout</button> -->

<!-- <form class="updateWorkout" action="" method="PATCH">
  <label for="bodyPart"></label>
  <select name="workout[bodyPart]" class="form-control">
    <option value="" disabled selected hidden>Choose a Muscle Group</option>
    <option value="Chest">Chest</option>
    <option value="Back">Back</option>
    <option value="Arms">Arms</option>
    <option value="Legs">Legs</option>
    <option value="Shoulders">Shoulers</option>
  </select>
  <label for="lift">Lift</label>
  <input name="workout[lift]" type="text">
  <input placeholder="Weight" name="workout[weight]" type="number">
  <input placeholder="Reps" name="workout[reps]" type="number">
  <input placeholder="Sets" name="workout[sets]" type="number">
  <button type="submit" class="form-control">Complete</button>
</form> -->
